body {
  background: lightyellow url("http://www.pptbackgrounds.net/uploads/heart-rhythms-powerpoint-backgrounds.jpg");
  background-size: 100% 104%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 30px;
}

footer {
  height: 110px;

}

.navbar {
  width: 100%;
}

.home, .general {
  margin-top: 70px;
}

#appTitle {
  font-size: 54px;
  font-family: Serif (red serifs);
  margin-left: 110px;
  margin-top: 5px;
}

#subTitle {
  margin-left: 0px;
  margin-top: 60px;
  font-size: 18px;
  font-family: Serif;
}

h2  {
  text-align: center;
}