body {
  background: #ADC1CE url("http://i.stack.imgur.com/i4UJM.png");
  background-size: 100% 104%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 10px 30px;
}

.flexbox {
  padding: 0;
  margin-left: 5%;
  list-style: none;
  width: 90%;   
  display: flex;
  flex-flow: row wrap;
  border: 7px double #ADC1CE;
  border-radius: 8px;
  background-color: #FCFCFC;
}

footer {
  height: 110px;

}

.navbar {
  width: 100%;
  padding-bottom: 8px;
 
}

.home, .male, .female {
  margin-top: 70px;

 
}

#appTitle {
  font-size: 50px;
  font-family: Serif (red serifs);
  margin-left: 1%;
  margin-top: 5px;
  color: #336699;
  white-space: nowrap;
  overflow: hidden;
}

#subTitle {
  margin-left: -80px;
  margin-top: 65px;
  font-size: 18px;
  font-family: Serif;
  color: lightSlateGray;
}

h2, h3 {
  text-align: center;
  margin-bottom: 3%;
}

button {
  border-radius: 4px;
  padding: 6px;
  margin: 10px;
  width: 200px;
}

.col-md-6  {
  min-height: 570px;
  max-height: 570px;

}
article {
  padding: 20px 5px 30px 0;
  background-color: #E6E6E6; 
  height: 550px;
  border-radius: 8px;
 
}
.float_right {
  float: right;
}

.generalImg {
  margin: 5% 35% 5% 25%;
}

.generalInfo {
  padding: 0 5% 0 5%;
}

 .navbar-default {
    background-color: #E6E6E6;
}

.navImg {
  padding: 2% 1% 0 1%;
}

#contact {
  margin-left: 30px;
  margin-bottom: 5px;
  width: 200px;
}

.partials {
  margin: 0 5% 5% 5%;
}

input[type=checkbox] {

}




