body {
  background: #ADC1CE url("http://i.stack.imgur.com/i4UJM.png");
  background-size: 100% 104%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 1% 0;
}

.container {
  padding: 0;
  margin-left: 8%;
  list-style: none;
  width: 85%;   
  // display: flex;
  // flex-flow: row wrap;
  border: 7px double #ADC1CE;
  border-radius: 8px;
  background-color: #FCFCFC;
}

footer {
  height: 270px;
  width: 100%;
  background-color: #E6E6E6;
  background-repeat: no-repeat;
  margin-top: 2%;
  margin-right: 0;
  border-top: 7px double #ADC1CE;

}

.navbar {
  width: 100%;
  padding-bottom: 8px;
 
}

.home, .male, .female {
  margin-top: 70px;

 
}

#appTitle {
  font-size: 50px;
  font-family: Serif (red serifs);
  margin-left: 1%;
  margin-top: 5px;
  color: #336699;
  white-space: nowrap;
  overflow: hidden;
}

#subTitle {
  margin-left: -80px;
  margin-top: 65px;
  font-size: 18px;
  font-family: Serif;
  color: lightSlateGray;
}

h2, h3, .about_us {
  text-align: center;
  margin-bottom: 3%;
}

button {
  border-radius: 4px;
  padding: 6px;
  margin: 10px;
  width: 200px;
}

.col-md-6  {
  min-height: 570px;
  max-height: 570px;

}
article {
  padding: 20px 5px 30px 0;
  background-color: #E6E6E6; 
  height: 550px;
  border-radius: 8px;
 
}
.float_right {
  float: right;
}

.generalImg {
  margin: 5% 35% 5% 25%;
}

.generalInfo {
  padding: 0 5% 0 5%;
}

 .navbar-default {
    background-color: #E6E6E6;
}

.navImg {
  padding: 2% 1% 0 1%;
}

#contact {
  margin-left: 30px;
  margin-bottom: 5px;
  width: 200px;
}

.partials {
  margin: 0 5% 5% 5%;
}

input[type=checkbox] {

}


//BMI calculator
fieldset {
  width: 300px;
  margin: 25px 0 20px 50px;
  border: 1px solid #999999;
  box-shadow: 1px 1px #cccccc;
  padding: 10px;
}

label {
  float: left;
  width: 140px;
  display: block;
  clear: left;
  text-align: right;
  padding-right: 10px;
  margin-top: 10px;
}

.bmi_button {
  margin-left: 100px;
  width: 140px;
}

.bmi_input {
  margin-top: 10px;
  display: block;
  text-align: right;
  width: 128px;
}

#bmi_label {
  width: 200px;
}

#bmi {
  width: 66px;
}

#intro {
  width: 300px;
  margin: 25px 0 0 50px;
  padding: 10px;
  border: 1px solid #999999;
  box-shadow: 1px 1px #cccccc;
}

/*!
 * Yamm!3 - Yet another megamenu for Bootstrap 3
 * http://geedmo.github.com/yamm3
 * 
 * @geedmo - Licensed under the MIT license
 */
.yamm .nav,
.yamm .collapse,
.yamm .dropup,
.yamm .dropdown {
  position: static;
}
.yamm .container {
  position: relative;
}
.yamm .dropdown-menu {
  left: auto;
}
.yamm .yamm-content {
  padding: 20px 30px;
}
.yamm .dropdown.yamm-fw .dropdown-menu {
  left: 0;
  right: 0;
}




