
<div class="partials">
<form method='post'>
  Name: <input type='text' id='contact' /><br />

  Address: <input type='text' id='contact' /><br />

  Email: <input type='email' id='contact' /><br />

  Comment:<br /><br />
  <textarea name='comment'></textarea><br />

  <input type='hidden' name='articleid' id='articleid' value='<? echo $_GET["id"]; ?>' />

  <input type='hidden' name='articleid' id='articleid' value='<? echo $_GET["id"]; ?>' />

  <input type="checkbox"> Sign up for our newsletter <br /> <br /> <br />

  <input type='submit' value='Submit' />  
</form>
</div>
