
<div class="partials">

<h3>Contact Us</h3>

<p>Please note: We do not give medical or personal advice or answer emails that include individual medical questions or  personal information. If you have questions or concerns about your health, please consult your family physician. If you have a medical emergency, call 911 immediately.</p>
<br />

<form method='post'>
  Name: <input type='text' id='contact' /><br />

  Address: <input type='text' id='contact' /><br />

  Email: <input type='email' id='contact' /><br />

  Comment:<br /><br />
  <textarea name='comment'></textarea><br />

  <input type='hidden' name='articleid' id='articleid' value='<? echo $_GET["id"]; ?>' />

  <input type='hidden' name='articleid' id='articleid' value='<? echo $_GET["id"]; ?>' />

  <input type="checkbox"> Sign up for our newsletter <br /> <br /> <br />

  <input type='submit' value='Submit' />  
</form>
</div>
