<body>
  <div>
    <p id="intro">Calculate your BMI (body mass index) by using the form below. Enter your weight and height and click the Calculate button to display your BMI result.</p>

    <form action="none" method="post" name="bmiform">
      <fieldset>
      <legend>Height and Weight</legend>
        <label for="pounds">Weight (pounds):</label>
        <input class="bmi_input" type="text" name="pounds" id="pounds">
        <br>
        <label for="inches">Height (inches):</label>
        <input class="bmi_input" type="text" name="inches" id="inches">
        <br>
        <button class="bmi_button" type="button" name="calculate" value="Calculate your BMI" onclick="calcBMI()">Calculate your BMI</button>
      </fieldset>
      <fieldset>
      <legend>BMI</legend>
        <label for="bmi" id="bmi_label">Your calculated BMI is:</label>
        <input class="bmi_input" type="text" name="bmi" id="bmi" readonly="readonly">
      </fieldset>
    </form>
    <p id="intro">The body mass index (BMI) is an approximate measure of body fat. It is based on your height and weight. A BMI between 19 and 25 is considered a normal amount of body fat. If someone's BMI is 25 to 29.9, that person is said to be overweight. A person is said to be obese if his or her BMI is 30 or higher. The higher your BMI, the greater your risk for diseases such as diabetes, heart disease, arthritis, and certain cancers. If you are concerned about your BMI or just want more information, talk with your family doctor.</p>
    <br />
  </div>
</body>