<div class="partials">
<h3>Checklist Male Ages 18-29</h3>
 <input type="checkbox"> Physical (annually for ages 18-21 / every 1-3 years, depending on risk factors, for ages 22-29) <br /> <br />
  <input type="checkbox"> Dermatology <br /> <br />
   <input type="checkbox"> Eye Exam <br /> <br />
    <input type="checkbox"> Prostate and/or Colorectal screening if high risk <br /> <br />
     <input type="checkbox"> Body Mass Index (BMI) <br /> <br />
      <input type="checkbox"> Cholesterol screening (at least every 5 years) <br /> <br />
       <input type="checkbox"> Diabetes screening (if high risk) <br /> <br />
        <input type="checkbox"> Blood Pressure evaluated <br /> <br />
         <input type="checkbox"> Evaluate risk of STDs <br /> <br />
          <input type="checkbox"> Evaluate risk of Tuberulosis (TB) <br /> <br />
           <input type="checkbox"> Evaluate risk of Hep B and/or Hep C <br /> <br />
            <input type="checkbox"> HIV screening (annually for high risk)<br /> <br />

</div>