<div class="partials">
<h3>Checklist Male Ages 50-59</h3>
 <input type="checkbox"> Annual Physical <br /> <br />
  <input type="checkbox"> Dermatology <br /> <br />
   <input type="checkbox"> Eye Exam <br /> <br />
    <input type="checkbox"> Screening for prostate cancer with prostate specific antigen (PSA) is available <br /> <br />
     <input type="checkbox"> Colonoscopy at age 50 and then every 10 years <br /> <br />
      <input type="checkbox"> Body Mass Index (BMI) <br /> <br />
       <input type="checkbox"> Cholesterol screening (at least every 5 years) <br /> <br />
        <input type="checkbox"> Diabetes screening every three years <br /> <br />
         <input type="checkbox"> Blood Pressure evaluated <br /> <br />
          <input type="checkbox"> Evaluate risk of STDs <br /> <br />
           <input type="checkbox"> Evaluate risk of Tuberulosis (TB) <br /> <br />
            <input type="checkbox"> Evaluate risk of Hep B and/or Hep C <br /> <br />
             <input type="checkbox"> HIV screening (annually for high risk)<br /> <br />

</div>