
<h4>EAT HEALTHY</h4>
 <p>A healthy diet consists of fruits, vegetables, cereals, milk, potatoes, pulses, etc. It is advised to eat little or no meat and a lot of raw food (raw fruits and vegetables). Raw food gives the body lots of vitamins and minerals that protect it from disease.</p>

<h4>AVOID DRUGS, SMOKING AND ALCOHOL</h4> 
<p>They cause many diseases and usually shorten your life significantly. Too many sweets (sugar, fat), lots of salt and lots of meat are also unfavorable. Don´t eat too many calories. You live longer, if you eat less (but not too much less). Listen to your body. It knows what is good for you. Live wisely and stay healthy.</p>

<h4>STAY ACTIVE</h4>
<p>Play sports. Go walking, jogging, cycling, swimming once or twice a day (one half to one hour), to keep the body strong and healthy. It is also sufficient to train on an exercise bike (bicycle, treadmill) or to do dynamic yoga (creative hatha yoga) for half an hour a day. Or to go for a walk on the weekend for an hour. It is important that the body is well warmed (practice until a slight sweating), it kills disease germs.</p>

<h4>RELAX</h4>
 <p>Stress should always be put away by adequate recovery periods, yoga or meditation. For inner happiness, it is important to live in the right proportion of personal activity (work) and rest (relaxation).</p>

<h4>THINK POSITIVE</h4> 
<p>Avoid negative thoughts. Keep your mind through conscious control, predominantly positive. Positive thoughts lead to positive feelings and positive emotions have a positive effect on your body. Motivate yourself with positive phrases and ideas. Read positive books and have a positive task (hobby).</p>