<div>
  <h2>Routine Preventive Care Guidelines Male Ages 30-39</h2>
  <h4>PERIODIC HEALTH EVALUATION</h4>
    <ul>
      <li>Every 1–3 years, depending on risk factors</li>
    </ul>
    <h4>PROSTATE CANCER</h4>
    <ul>
      <li>Screening and routine discussion of screening are not recommended except for patients at high risk for prostate cancer.</li>
    </ul>
    <h4>COLORECTAL CANCER</h4>
    <ul>
      <li>Not routine except for patients at high risk</li>
    </ul>
    <h4>SKIN CANCER</h4>
    <ul>
      <li>Look for skin abnormalities.</li>
      <li>Check moles (asymmetry, border, color, diameter, evolving/elevation), and risk factors; personal history of skin cancer or repeated sunburns early in life; family history; certain types and a large number of moles; fair skin; sun-sensitive skin; and chronic exposure to sun.
      <li>Limit exposure to the sun (especially between 10 a.m. and 4 p.m.), fully cover skin with clothing and hats, and use sun block (SPF 15 or greater).</li>
      <li>Use of indoor tanning is discouraged.</li>
    </ul>
    <h4>EYE EXAM</h4>
      <ul>
        <li>Eye exam once every 3 years at physician discretion</li>
      </ul>
      <h4>BODY MASS INDEX</h4>
      <ul>
        <li>Screen for obesity at every periodic health evaluation visit. Consult the CDC’s growth and body mass index (BMI) charts.
        <li>Get counseling on the benefits of physical activity and a healthy diet to maintain a desirable weight for height. More focused evaluation and intensive counseling needed for adults with BMI> 30kg/m2 to promote sustained weight loss for obese adults.</li>
      </ul>
      <h4>CHOLESTEROL</h4>
      <ul>
        <li>Screen every five years with lipoprotein profile. If total cholesterol is >200 mg/dl or HDL is less than 40 mg/dl, a follow-up lipoprotein profile should be performed. More routine screening for patients with high-risk at clinician discretion. High risk includes family history of premature heart disease or hyperlipidemia, hypertension, low HDL, diabetes, tobacco use, age, and weight (BMI>30).</li>
        <li>If at risk or screened to have high cholesterol and heart disease, get counseling on lifestyle changes including a diet low in saturated fats and high in fiber, weight management, and physical activity.</li>
      </ul>
      <h4>DIABETES (TYPE 2) AND PRE-DIABETES</h4>
      <ul>
        <li>Screen every three years beginning at age 45. Screen more often and begin at a younger age for those who are overweight and if risk factors are present. Risk factors include age, first-degree relative with diabetes, physical inactivity, race/ ethnicity (African-American, Hispanic, Native American, Asian), high blood pressure (above 140/90mm Hg), history of vascular disease, elevated cholesterol/lipid levels, history of gestational diabetes or birth of a baby > 9 lbs, impaired glucose tolerance, and polycystic ovary syndrome.</li>
        <li>A fasting blood sugar, a two-hour oral glucose tolerance, or HbA1C tests are all acceptable screening methods.
        </li>
        <li>If test results in diagnosis of pre-diabetes, recommend screening again in 6 months to 1 year, and get counseling on diet and lifestyle changes to prevent the onset of Type-2 diabetes.</li>
      </ul>
      <h4>HYPERTENSION</h4>
      <ul>
        <li>Check blood pressure at every medical encounter.</li>
        <li>Perform blood pressure screening for hypertension once every two years.</li>
      </ul>
      <h4>SEXUALLY TRANSMITTED INFECTIONS</h4>
      <ul>
        <li>Screen if at risk. Risk factors include history of and/or current infection with another sexually transmitted infection; having more than one sexual partner within the past 6 months.</li>
      </ul>
      <h4>HEPATITIS B</h4>
      <ul>
        <li>Periodic screening for hepatitis B for those at high risk. High-risk populations include persons who immigrated from high-risk areas (Africa, Asia, Greenland, and select countries in Central America, South America, and the Middle East); injection drug users, persons needing immunosuppressive therapy, healthcare professionals and pregnant women.</li>
      </ul>
      <h4>HEPATITIS C</h4>
      <ul>
        <li>Periodic testing for those at high risk. Risk factors include illicit injection drug use; receipt of blood product for clotting problems before 1990 and/or receipt of a blood transfusion or solid organ transplant before July 1992 (if not previously tested); long-term kidney dialysis; evidence of liver disease; a tattoo or body piercing by nonsterile needle; intravenous drug use and risky sex practices (not using condoms, multiple sex partners).</li>
      </ul>
      <h4>HIV</h4>
      <ul>
        <li>CDC recommends routine HIV screening for all individuals 18 years of age and older and annual testing for those at increased risk.</li>
        <li>Risk factors include injection-drug users and their sex partners, persons who exchange sex for money or drugs, sex partners of HIV-infected persons, and persons who themselves or whose sex partners have had more than one sex partner since their most recent HIV test.</li>
      </ul>
      <h4>TUBERCULOSIS (TB)</h4>
      <ul>
        <li>Tuberculin skin testing for all patients at high risk. Risk factors include having spent time with someone with known or suspected TB; having HIV infection; coming from a country where TB is very common; having injected illicit drugs; living in the United States where TB is more common (e.g., shelters, migrant farm camps, prisons); health care worker; or spending time with others with these risk factors. Determine the need for repeat skin testing by the likelihood of continuing exposure to infectious TB.</li>
      </ul>

</div>
